<ActionBar class="action-bar">
     
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
 
    <ActionItem icon="res://navigation/menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label class="action-bar-title" text="Home"></Label>
</ActionBar>

<GridLayout class="page page-content">
    <Label class="page-icon fa" text="&#xf015;"></Label>
    <Label class="page-placeholder" text="<!-- Page content goes here -->"></Label>

    <Button text="Scanner" (tap)="onScan()" style="font-size: 18;left:35%;width:60%;height:9.5%;background-color: rgba(8, 25, 33, 0.8); color: #FFFFFF;" class="btn btn-primary btn-active"></Button>
 

</GridLayout> 