/* Add mobile styles for the component here.  */
.home-panel{
    vertical-align: center; 
    font-size: 20;
    margin: 15;
}

.description-label{
    margin-bottom: 15;
}

.action-bar {
  background-color: rgba(8, 25, 33, 0.8);
  color: #FFFFFF;
}
 .text1{ 
   color: #103241;
    border-width: 1;
    border-radius: 4;
    border-color:lightblue;
    background-color:lightgray;
    placeholder-color: #000000;
 }
.page {
  background-color: #103241; 
  /*background-color: steelblue*/
  /*color: #FFFFFF; */
}
